@model IEnumerable<Academico.Models.Instituicao>

@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <p>
        <a asp-action="Create">Registrar Novo Aluno</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InstituicaoID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstituicaoID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td class="actions">
                        @Html.ActionLink("Edit", "Edit", new { id = item.InstituicaoID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.InstituicaoID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.InstituicaoID })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

